*.dll
*.pdb
*.exp
*.ilk
*.pdb
*.lib
*.exe
.svn
installs/ETPack
installs/JAPack
installs/Q1Pack
installs/Q2Pack
installs/Q3Pack
installs/QLPack
installs/QuetooPack
installs/STVEFPack
installs/UnvanquishedPack
installs/UrTPack
installs/WolfPack
games/